* {
    box-sizing: border-box;
}
.container {
    max-width: @max-width;
    margin: 0 auto;
    position: relative;
}
body, html {
    background-color: @background-color;
    font-family: 'Fira Sans', sans-serif;
}
html {
    height: 100%;
    min-width: 320px;
}
body {
    height: 100%;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
}
.page-container {
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
}
footer {
    margin: -50px auto 0;
    max-width: @max-width;
    height: 50px;
    position: relative;
    overflow: hidden;
}

